<div class="container-fluid bg-green-3 position-relative z-index-1" >
    <div class="row justify-content-between">
        <div class="col-md-4 ">
           
                
                 <ul class=" unstyled-list d-flex justify-content-end align-items-center  h-100">
                    
                    <li >
                        <a routerLink="/login" class="p-2 pe-0  fs-5 fw-4 text-decoration-none text-blue">Login  </a>
                    </li>
                    <li >
                      <a routerLink="/register" class="p-2 ps-1  fs-5 fw-4 text-decoration-none text-blue">Register</a>
                    </li>
     
                
               </ul>
            
        </div>
      
        <div class="col-md-4 d-flex justify-content-center align-items-center">
           
            
            
           
        </div>
    </div>
</div>


